.casino-vivo {
	align-items: baseline;
	margin-top: 60px;
	margin-bottom: 32px;

	&__content {
		color: $color-fourth;
	}
}

.casino-vivo__img {
	grid-row: 1;
	margin-bottom: 24px;

	@include from(m) {
		grid-row: unset;
		margin-bottom: 0;
	}
}
