.games-content {
	margin-bottom: 0;
}

.games-wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;

	&__title {
		color: $color-fourth;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

.games-card {
	border-radius: 16px;
	background-color: $color-first;
	display: flex;

	&__img {
		width: 50%;
		height: auto;
	
		img {
			position: relative;
			width: 100%;
			max-width: 300px;
		}
	}

	&__title {
		align-items: center;
		background-color: $color-first;
		border-radius: 0 16px 16px 16px;
		color: $color-fourth;
		display: flex;
		justify-content: space-between;
		padding: 16px 15px;
		width: 100%;
	
		h3 {
			margin: 0;
		}	
	}
}
