.main-con {

	.main-cont {
		.container-cont {
			background: gainsboro;
			text-align: center;
			max-width: 100%;
			height: auto;
			box-sizing: border-box;
			border: 1px solid white;
			border-radius: 10px;
			padding: 25px;
			margin: 0 auto 0;
			position: relative;

			@include from(s) {
				margin: 0 auto;
			}

			h2 {
				color: black;
			}

			.sub-cont {
				h2 {
					color: white;
				}

				.container-cont {
					color: white;
					background-color: aqua;
				}

			}

			.text-cont {
				font-size: 1.1rem;

				@include from(m) {
					text-align: left;
				}

				@include from(s) {
					text-align: center;
				}
			}

			.table-horse {
				margin-top: 2rem;

				h3 {
					text-align: left;
				}

				table,
				th {
					border: solid 1px black;
					padding: 10px;
				}

				td {
					border: solid 1px black;
					padding: 10px;
					color: red;
				}

				table {
					border-collapse: collapse;
					caption-side: bottom;
				}

				caption {
					font-size: 16px;
					font-weight: bold;
					padding-top: 5px;
				}
			}

			.font-low {
				color: green;

			}

			.img-metodosPay {
				width: 99%;
				border-radius: 6px;
			}

			.btn-banca-nav {
				cursor: pointer;
				position: relative;
				list-style: none;
				-webkit-box-flex: 1;
				-ms-flex: auto;
				flex: auto;
				background-color: var(--color-sky);
				margin: 10px 0px;
				padding: 15px 5%;
				color: white;
				border-radius: 5px;
				border: 2px;
				border-color: var(--color-skyLow);
				transition: .5s;
				transform: scale(.9);
			}

			.btn-banca-nav:hover {
				transform: scale(1);
				background-color: var(--color-skyLow);
				/* Green */
				color: white;
			}
		}
	}
}

.horse-table:first-child {
	display: block;
}
