#tnsSingle-ow {
	max-width: 100%;

	button[data-action=start] {
		display: none;
	}
}

.tns-single{
	&__content{
		display           : flex;
		justify-content   : center;
		flex-direction    : column;
		align-items       : center;
		span{color        : white;}
	}
	&__img{
		width: 100%;
	}
}
