<div class="col-md-12 parlay-container">
	<h2>Calculadora de Parlay</h2>
	<div id="ParlayTable" class="parlay-table">
	  <form
		method="post"
		action="parlaycalcservice.php"
		id="parlaycalc"
		class="parlayformback"
	  >
		<br />
		<table id="ParlayFormBlock" class="parlay-table__wager">
		  <tbody>
			<tr>
			  <th class="mceVisualAid">Equipos</th>
			  <th class="mceVisualAid">Costos</th>
			  <th class="mceVisualAid">Factor</th>
			</tr>
			<tr>
			  <td>
				<script type="text/javascript" src="assets/js/parlaycalc.js">
				  <!-- // -->
				</script>
			  </td>
			</tr>
			<tr>
			  <td align="center"><b>Wager 1.</b></td>
			  <td>
				<input type="text" size="7" value="" name="Line0" />
			  </td>
			  <td>
				<input
				  type="text"
				  size="7"
				  value="0"
				  name="Factor0"
				  readonly=""
				  disabled=""
				/>
			  </td>
			</tr>
			<tr>
			  <td align="center"><b>Wager 2.</b></td>
			  <td>
				<input type="text" size="7" value="" name="Line1" />
			  </td>
			  <td>
				<input
				  type="text"
				  size="7"
				  value="0"
				  name="Factor1"
				  readonly=""
				  disabled=""
				/>
			  </td>
			</tr>
			<tr>
			  <td align="center"><b>Wager 3.</b></td>
			  <td>
				<input type="text" size="7" value="" name="Line2" />
			  </td>
			  <td>
				<input
				  type="text"
				  size="7"
				  value="0"
				  name="Factor2"
				  readonly=""
				  disabled=""
				/>
			  </td>
			</tr>
			<tr>
			  <td align="center"><b>Wager 4.</b></td>
			  <td>
				<input type="text" size="7" value="" name="Line3" />
			  </td>
			  <td>
				<input
				  type="text"
				  size="7"
				  value="0"
				  name="Factor3"
				  readonly=""
				  disabled=""
				/>
			  </td>
			</tr>
			<tr>
			  <td align="center"><b>Wager 5.</b></td>
			  <td>
				<input type="text" size="7" value="" name="Line4" />
			  </td>
			  <td>
				<input
				  type="text"
				  size="7"
				  value="0"
				  name="Factor4"
				  readonly=""
				  disabled=""
				/>
			  </td>
			</tr>
			<tr>
			  <td align="center"><b>Wager 6.</b></td>
			  <td>
				<input type="text" size="7" value="" name="Line5" />
			  </td>
			  <td>
				<input
				  type="text"
				  size="7"
				  value="0"
				  name="Factor5"
				  readonly=""
				  disabled=""
				/>
			  </td>
			</tr>
			<tr>
			  <td align="center"><b>Wager 7.</b></td>
			  <td>
				<input type="text" size="7" value="" name="Line6" />
			  </td>
			  <td>
				<input
				  type="text"
				  size="7"
				  value="0"
				  name="Factor6"
				  readonly=""
				  disabled=""
				/>
			  </td>
			</tr>
			<tr>
			  <td align="center"><b>Wager 8.</b></td>
			  <td>
				<input type="text" size="7" value="" name="Line7" />
			  </td>
			  <td>
				<input
				  type="text"
				  size="7"
				  value="0"
				  name="Factor7"
				  readonly=""
				  disabled=""
				/>
			  </td>
			</tr>
		  </tbody>
		</table>
		<table class="ParlayControls parlay-table__quantity">
		  <tbody>
			<tr>
			  <td>Cantidad($):</td>
			  <td>
				<input
				  type="text"
				  value="100"
				  name="Amount"
				  size="6"
				  maxlength="6"
				  class="amount"
				/>
			  </td>
			  <td>
				<input
				  type="button"
				  value="Calcular"
				  onclick="CalcParlay(this.form);"
				  class="submit"
				/>
			  </td>
			</tr>
		  </tbody>
		</table>
		<table class="ParlayControls parlay-table__pay">
		  <tbody>
			<tr>
			  <td>Pago:</td>
			  <td class="payout">
				$
				<input
				  type="text"
				  value="0"
				  name="Payout"
				  size="6"
				  class="amount"
				/>
			  </td>
			  <td align="right">
				<input
				  type="button"
				  value="Borrar"
				  onclick="clearForm(this.form);"
				  class="reset"
				/>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </form>
	</div>
