section(class='bonus info-politics ed-grid l-grid-1')
	div(class='info-politics__content')
		h1 Calculadora Parlay
		include ../components/calcParley.html
		include:markdown-it(html) ../md/parlay-calculator.md
		include ../components/button-register
