div(class='payment-carousell' id='payment-carousell-casino')
	-for(var i = 0; i < methods.length ; i++)
			div(class='payment-carousell__container')
				img(class='payment-carousell__img' src=methods[i].img alt=methods[i].alt)
