div(class='ed-container')
	div(class='ed-item')
		div(class='tabs-container')
			ul(class='tabs-container__tabs' id='tabs')
				li(class='tabs-container__tab is-active' id="tableOne") Pistas A
				li(class='tabs-container__tab' id="tableTwo") Pistas B
				li(class='tabs-container__tab' id="tableThree") Pistas C
				li(class='tabs-container__tab' id="tableFour") Galgos
				li(class='tabs-container__tab' id="tableFive") Internacional
			div(class="container-cont")
				include ../config/utilis/tables
