section(class='bonus info-politics ed-grid l-grid-1')
	div(class='info-politics__content')
		h1 Calculadora de Teasers
		//- include ../components/parlay-calculator-component.html
		include:markdown-it(html) ../md/teasers-calculator.md
		include ../components/button-register
