extends ../config/template
append config
	-currentPage		= "Términos y condiciones"
	-siteName			= 'Betsev'
	-content			= 'content'
	-pageDescription	= 'This website contains a collection of projects developed by Enrique Estrada using a Gulp boilerplate developed by him'
block main-header
block main-container
	include ../components/terms-conditions
block main-footer
block scripts
